################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
.vs/VSWorkspaceState.json
.vs/randomPersonData/v16/.suo
